#feedback_button {
  color: #731f1f;
  width: 350px;
  height: 80px;
  line-height: 90px;
  z-index: 3;
  text-align: center;
  font-weight: bold;
  background-color: white;
  display: block;
  position: fixed;
  font-size: 18pt;
  left: -155px;
  top: calc(50vh - 40px);
  transform: rotate(-90deg);
  box-shadow: 0 0 12px white;
  text-shadow: 0 0 1px #731f1f;
  border-radius: 10px;
  cursor: pointer;
}
#feedback_button:hover {
  color: white;
  background-color: #731f1f;
}

#feedback_form {
  position: fixed;
  left: 10px;
  top: calc(50vh - 150px);
  z-index: 3;
  width: 300px;
  display: none;

  background: #f6f6f6;
  box-shadow: 0 0 5px #ccc; 
  -webkit-box-shadow: 0 0 5px #ccc;
  -moz-box-shadow: 0 0 5px #ccc;
  
}

#feedback_form h4 {
  font: 14px Verdana;
  color: #333333;
  text-align: left;
  padding: 10px 10px 0 10px;
}

#feedback_form label {
  font: 12px Verdana;
  color: #333;
  padding: 10px;
}

*[border="smooth"] {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#feedback_form .change_type_button {
  display: inline-block;
  width: 49%;
  font-size: auto;
  cursor: pointer;
}

#feedback_form .input { 
  width: 170px;
  height: 20px;
  overflow: hidden;
  background: white;
  border: solid 1px #DFE2E5;
  margin: 5px 0 10px 10px;
  box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  -moz-box-shadow: 0 0 5px #ccc;
}

#feedback_form .input input {
  width: 165px;
  height: 26px;
  background: white;
  margin: -3px 0 0 -5px;
  padding: 0px 8px;
  border: none;
  background: transparent;
}

#feedback_form .textarea {
  height: 70px;
  width: calc(100% - 20px);
  overflow: hidden;
  resize: vertical;
  background: white;
  border: solid 1px #DFE2E5;
  margin: 5px 0 10px 10px;
  box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  -moz-box-shadow: 0 0 5px #ccc;
}

#feedback_form button {
  border: 2px #ccc solid;
  width: 150px;
  height: 25px;
  font: 12px Verdana;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #cc0000;
  padding-bottom: 2px;
  margin: 5px 0 15px 135px;
}