#page { 
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    width: 100vw;
    min-width: 1200px;
    text-align: center;
    
    background-image: url(img/background.jpg);
    background-attachment: fixed;
    background-size: 100vw auto;
}
.fig {
    display: block; /* Блочный элемент (для старых браузеров) */
    text-align: center; /* Выравнивание по центру */
    font-style: italic; /* Курсивное начертание */
    margin: 0 10px 10px 0; /* Отступы */
    color: #666; /* Цвет подрисуночной подписи */
  }

.download:hover{
	color: #CD5C5C;
}
.main{
	font-weight: normal;
	font-size: 14pt;
}
.info{
	font-size: 15pt;
}
.Content {
    width: 1120px;
    margin-left: calc((100vw - 1200px)/2);
    min-height: 100vh;
    text-align: left;
    font-size: 12pt;
    padding: 40px;
    background-color: rgba(215,217,215,0.95);
}

img.test {
	background-color: #353b39;
	border: 2px solid #353b39;
}

table.test {
	width: 100%;
	border-collapse: collapse;
	border: 3px solid #353b39;
	margin: 10px;
}
tr.test {
	border-bottom: 3px solid #353b39;
}

td.test {
	padding: 10px;
}

th.test {
	padding: 10px;
	text-align: left;
}
tr.head {
	background-color: #3f7fbf;
	border: 3px solid #3f7fbf;
}
tr.head td {
	color: #ffffff;
	font-weight: bold;
	text-shadow: 0 0 8px #353b39;
	border: none;
	margin: none;

}
