#page { 
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    width: 100vw;
    min-width: 1200px;
    text-align: center;
    
    background-image: url(img/background.jpg);
    background-attachment: fixed;
    background-size: 100vw auto;
}
.fig {
    display: block; /* Блочный элемент (для старых браузеров) */
    text-align: center; /* Выравнивание по центру */
    font-style: italic; /* Курсивное начертание */
    margin: 0 10px 10px 0; /* Отступы */
    color: black; /* Цвет подрисуночной подписи */
  }
.download:hover{
	color: #CD5C5C;
}
.main{
	font-weight: normal;
	font-size: 14pt;
}
.info{
	font-size: 15pt;
}
.Content {
    width: 1120px;
    
    min-height: 100vh;
    text-align: left;
    font-size: 12pt;
    padding: 40px;
    background-color: rgba(215,217,215,0.95);
}



