#logo {
    background-color: #ffffff;
    display: inline-block;
    border: none;
    border-top: 4px solid #ffffff;
    padding: 5px 25px;
    margin: none;
    height: 60px;
    text-shadow: 0 0 12px #3c5659;
}
#site_header {
    background-color: #731f1f;
    width: 1200px;
    margin-left: calc((100vw - 1200px)/2);
    padding: none;
    text-align: left;
    font-size: 0pt;
}
#slide_show {
    height: 300px;
    width: 1200px;
    border: none;
    box-shadow: none;
    border-bottom: none;
}
.menu_button {
    width: 196px;
    height: 50px;
    line-height: 50px;
    vertical-align: top;
    font-size: 13pt;
    font-family: Arial;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: white;
    text-shadow: 0 0 12px #3c5659;
    border-left: 2px solid white;
    border-right: 2px solid white;
}
.menu_button:hover {
    background-color: white;
    color: #731f1f;
    text-shadow: none;
    font-weight: bold;
}