#main_description {
    width: 1200px;
    border: none;
    box-shadow: none;
}
#logo {
    display: block;
    background-color: #731f1f;
    display: inline-block;
    border: none;
    margin: 5px;
    margin-right: 50px;
}
#site_header {
    background-color: #731f1f;
    width: 1200px;
    margin-left: calc((100vw - 1200px)/2);
    text-align: left;
}
img.graphic_description {
    height: 450px;
    border: none;
    box-shadow: none;
    position: relative;
    display: none;
    top: -470px;
    right: 600px;
}
img.graphic_description:hover {
    display: block;
}
.menu_button:hover img.graphic_description{
    display: block;
}
.menu_button {
    width: 182px;
    height: 34px;
    padding: 20px 10px;
    font-size: 20pt;
    display: inline-block;
    vertical-align: top;
    margin-left: 0px;
    text-decoration: none;
    text-align: center;
    color: white;
    text-shadow: 0 0 12px #3c5659;
}
.menu_button:hover {
    background-color: white;
    border-color:  #ffffff;
    color: #731f1f;
}